<div class=" mb-4 px-2">
    <label for="phone-number" *ngIf="config?.label" class="block text-sm font-semibold leading-6 text-gray-900">{{config?.label}}</label>
    <div class="relative mt-2.5 w-full">
      <div class="absolute inset-y-0 left-0 flex items-center">
        <label for="country" class="sr-only">Country</label>
        <select id="country" name="country" class="h-full outline-none rounded-md border-0 bg-transparent bg-none py-0 pl-4 pr-9 text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-300 sm:text-sm">
          <option>US</option>
          <option>CA</option>
          <option>EU</option>
        </select>
        <svg class="pointer-events-none absolute right-3 top-0 h-full w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
        </svg>
      </div>
      <input type="tel" name="phone-number" id="phone-number" autocomplete="tel" class="block w-full outline-none rounded-md border-0 px-3.5 py-2 pl-20 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-300 sm:text-sm sm:leading-6">
    </div>
  </div>
