<!-- <div class="w-1/2">
    <div class="p-20 font-semibold p-b-0 mb-10 text-2xl">Form1</div>
    <div class="w-full ">
        <div class="p-10  flex flex-wrap">
            <ng-template appAdhost ></ng-template>
        </div>
    </div>
</div> -->
<div class="hdr w-100 py-3 px-4 sticky top-0 z-20 bg-white flex justify-between">
    <div class="flex items-center">
        <div class="ring-1 ring-gray-400 rounded-md py-1 px-1.5 mr-3"><img src="assets/icons/menu-2.png" class=" p-2 "  width="16px" height="16px"></div>
        <div class="logo text-xl font-semibold f-lexend"><img src="assets/icons/sw-logo.png"  width="120px" height="25px"
            alt=""></div>
        <div class="font-medium text-base text-rose-600 ml-2 pt-0.5">TC Portal</div>
    </div>
    <div class="flex gap-2">
        <div class="relative items-center flex mr-3">
            <div class="absolute bottom-3 p-3 ring-2  ring-rose-200 left-auto right-0 top-auto z-10 inline-block translate-x-2/4 translate-y-1/2 rotate-0  rounded-full bg-rose-400  text-xs"></div>
            <div class="flex items-center justify-center rounded-lg ">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bell"
                    class="mx-auto w-6 h-6 text-purple-400 " role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path fill="none" stroke="black" stroke-width="20"
                        d="M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z">
                    </path>
                </svg>
            </div>
        </div>
        <div class="rounded-full">
            <img src="assets/icons/prof.jpg" class="rounded-full  ring-2 ring-violet-300" width="30px" height="30px"
                alt="">
        </div>
    </div>

</div>

<div class="w-full flex  bg-zinc-50">
    <div class="w-2/12 bg-zinc-50 p-10 bdr-right" >
        <div class=" py-3  " >
            <div class="font-semibold text-sm flex p-10 pt-2 pb-2 gap-1  rounded-md items-center">
                <img class="p-3" src="assets/icons/home.png" width="25px" height="25px" alt="">
                <span class=" text-sm text-gray-600">Home</span>

            </div>
            <div class="font-semibold  text-sm flex p-10 pt-2 pb-2 gap-1 rounded-md items-center">
                <img class="p-2" src="assets/icons/exercise.png" width="25px" height="25px" alt="">
                <span class=" text-sm text-gray-600">Excercises</span>

            </div>
            <div class="font-semibold  text-sm flex p-10 pt-2 pb-2 gap-1 bg-violet-100 rounded-md items-center">
                <img  class="p-2" src="assets/icons/packages-primary.png" width="26px" height="28px" alt="">
                <span class="text-indigo-800 text-sm">Packages</span>

            </div>


        </div>
        <div class=" py-3 px-1  mt-2 min-h-screen "  >
            <div class="font-bold text-xs text-gray-500 py-2 ">RECENTLY UPDATED</div>
            <div class="flex py-2">
                <div class="font-medium text-sm flex px-1 py-2 gap-1 rounded-md items-center">
                    <img class="p-1" src="assets/icons/packages-primary.png" width="36px" height="30px" alt="">
                    <div class="flex-col flex">
                        <span class=" text-xs font-bold">Package 1325</span>
                        <span class=" text-xs text-gray-500">P14151</span>
                    </div>
    
                </div>
               
            </div>
            <div class="flex ">
                <div class="font-medium text-sm flex px-1 py-2 gap-1 rounded-md items-center">
                    <img class="p-2" src="assets/icons/exercise.png" width="32px" height="28px" alt="">
                    <div class="flex-col flex">
                        <span class=" text-xs font-bold">Exercise 8</span>
                        <span class="text-xs text-gray-500">E19151</span>
                    </div>
    
                </div>
               
            </div>
            <div class="flex ">
                <div class="font-medium text-sm flex px-1 py-2 gap-1 rounded-md items-center">
                    <img class="p-2" src="assets/icons/exercise.png" width="32px" height="28px" alt="">
                    <div class="flex-col flex">
                        <span class=" text-xs font-bold">Exercise 6325</span>
                        <span class=" text-xs text-gray-500">E14151</span>
                    </div>
    
                </div>
               
            </div>
            <div class="flex ">
                <div class="font-medium text-sm flex px-1 py-2 gap-1 rounded-md items-center">
                    <img class="p-2" src="assets/icons/exercise.png" width="32px" height="28px" alt="">
                    <div class="flex-col flex">
                        <span class=" text-xs font-bold">Exercise 6325</span>
                        <span class=" text-xs text-gray-500">E14151</span>
                    </div>
    
                </div>
               
            </div>

        </div>
    </div>
    <div class="w-8/12 p-25 bg-white">
        <div class="crumb text-gray-400 text-xs font-semibold mb-1 mt-1">Excercise 6 / Create Template </div>
        <div class="text-xl font-semibold ">Create Template</div>
        <div class="text-lg w-100 mt-3">
            <mat-form-field class="w-full font-semibold"  floatLabel='never'   style="height: 20px;max-height: 20px;">
                <input matInput placeholder="Template Name" class="font-semibold p-0">
            </mat-form-field>
        </div>
        <!-- <div class="py-3 px-3  bg-white rounded-md flex justify-between items-end">
            <div class="flex flex-col justify-center flex-2">
                <div class="flex "> <img src="assets/icons/template.png" class="mr-2 mt-3 p-5" width="35px" height="35px" alt="">
                    <div class="text-lg w-100">
                        <mat-form-field style="height: 20px;max-height: 20px;width:30vw">
                            <input matInput placeholder="Template Name" class="font-semibold">
                        </mat-form-field>
                    </div></div>
            </div>
            <div class="flex flex-1 gap-3 justify-end align-bottom items-end ">
                <button>Create</button>
                <div>Draft</div>
                <div>Clear</div>
            </div>
        </div> -->
        <app-form-builder></app-form-builder>
    </div>
    <div class="w-2/12 bg-white p-10">
        <div class="flex gap-5 mb-5 p-10">
            <button class="bg-rose-500 text-white text-sm font-bold py-1 px-2 mt-4 rounded-sm w-1/2">Save</button>
            <button class="bg-gray-100 text-gray-700 text-sm font-bold py-1 px-2 mt-4 rounded-sm w-1/2">Cancel</button>
        </div>
        
        <div class=" text-sm py-2 px-3 flex justify-between "><span >Skill Type </span><span class="font-semibold">Mind Skills</span></div>

        <div class=" text-sm py-2 px-3 flex justify-between"><span >Created By </span><span class="font-semibold">John Chris</span></div>
        <div class=" text-sm py-2 px-3 flex justify-between  border-b-2"><span >Date </span><span class="font-semibold">14 Jan 2024</span></div>
        <div class="bg-rose-100 font-semibold rounded-md text-sm py-2 px-3 mt-4">Field Settings</div>
        <div class=" font-medium  text-sm py-2 px-3 flex justify-between items-center"><span>Required Field</span> <span><mat-slide-toggle></mat-slide-toggle></span></div>
        <div class=" font-medium  text-sm py-2 px-3 flex justify-between items-center"><span>Min Length</span> <span>5</span></div>
        <div class=" font-medium  text-sm py-2 px-3 flex justify-between items-center"><span>Option 1</span></div>
        
    </div>

</div>