.ctn{
    width: max-content!important;

}

.ctn > div{
    align-self: center;
    padding: 10px 15px;
}


.primary-color{
    color:#fc0067!important;
  }

  .alt-color{
    color:rgb(52, 21, 163)!important;
  }

  .bg-primary{
    background-color: #fc0067!important;
  }

  .hdr{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px;
    border-bottom: 1px solid whitesmoke;
  }

  .bdr-right{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px;
    border-right: 3px solid rgb(242, 242, 242,0.8);
  }

  .title-input{
    border-bottom: 1px solid gray;
  }