<mat-sidenav-container class="sidebar">
    <mat-sidenav #sidenav [mode]="mode.value || 'over'" [(opened)]="opened" (opened)="events.push('open!')" class="sidenav "
                (closed)="events.push('close!')">
                <div class="flex  px-4 text-center items-center  py-3 ">
                    <div class="logo text-lg font-semibold f-lexend"><img src="assets/icons/favicon.ico" width="25px" height="25px"
                            alt=""></div>
                    <div class="font-bold text-lg text-pink-600 ml-2 pt-1">TC <span class="font-semibold">Portal</span></div>
                </div>
                <div class="px-3 py-3 mt-2  bg-white ">
                    <div (click)="navigate('/dashboard')" [ngClass]="router?.url?.includes('dashboard') ? 'bg-violet-50' : ''" class="cursor-pointer font-bold text-sm flex p-10 pt-2 pb-2 gap-1  rounded-md items-center">
                        <img class="p-3" src="assets/icons/home.png" width="25px" height="25px" alt="">
                        <span class=" text-sm " [ngClass]="router?.url?.includes('dashboard') ? 'd-color': 'text-gray-600'">Home</span>
        
                    </div>
                    <div  [ngClass]="router?.url?.includes('exercises') ? 'bg-violet-50' : ''" class="cursor-pointer font-bold  text-sm flex p-10 pt-2 pb-2 gap-1 rounded-md items-center">
                        <img class="p-2" src="assets/icons/exercise.png" width="25px" height="25px" alt="">
                        <span class=" text-sm " [ngClass]="router?.url?.includes('exercises') ? 'd-color': 'text-gray-600'">Excercises</span>
                    </div>
                    <div (click)="navigate('/packages')" [ngClass]="router?.url?.includes('packages') ? 'bg-violet-50' : ''" class="cursor-pointer font-bold  text-sm flex p-10 pt-2 pb-2 gap-1  rounded-md items-center">
                        <img class="p-2" src="assets/icons/pkg.svg" width="26px" height="28px" alt="">
                        <span class=" text-sm" [ngClass]="router?.url?.includes('packages') ? 'd-color': 'text-gray-600'">Packages</span>
                    </div>        
                </div>
                <div class="px-3 py-3   mt-3  bg-white ">
                    <div class="font-bold text-xs text-gray-500 py-2 ">RECENTLY UPDATED</div>
                    <div class="flex py-2">
                        <div class="font-medium text-sm flex px-1 py-2 gap-1 rounded-md items-center">
                            <img class="p-1" src="assets/icons/pkg.svg" width="34px" height="30px" alt="">
                            <div class="flex-col flex">
                                <span class=" text-xs font-bold">Package 1325</span>
                                <span class=" text-xs text-gray-500">P14151</span>
                            </div>
        
                        </div>
        
                    </div>
                    <div class="flex ">
                        <div class="font-medium text-sm flex px-1 py-2 gap-1 rounded-md items-center">
                            <img class="p-2" src="assets/icons/exercise.png" width="32px" height="28px" alt="">
                            <div class="flex-col flex">
                                <span class=" text-xs font-bold">Exercise 8</span>
                                <span class="text-xs text-gray-500">E19151</span>
                            </div>
        
                        </div>
        
                    </div>
                    <div class="flex ">
                        <div class="font-medium text-sm flex px-1 py-2 gap-1 rounded-md items-center">
                            <img class="p-2" src="assets/icons/exercise.png" width="32px" height="28px" alt="">
                            <div class="flex-col flex">
                                <span class=" text-xs font-bold">Exercise 6325</span>
                                <span class=" text-xs text-gray-500">E14151</span>
                            </div>
        
                        </div>
        
                    </div>
                    <div class="flex ">
                        <div class="font-medium text-sm flex px-1 py-2 gap-1 rounded-md items-center">
                            <img class="p-2" src="assets/icons/exercise.png" width="32px" height="28px" alt="">
                            <div class="flex-col flex">
                                <span class=" text-xs font-bold">Exercise 6325</span>
                                <span class=" text-xs text-gray-500">E14151</span>
                            </div>
        
                        </div>
        
                    </div>
        
                </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="hdr w-100 py-3 px-4 sticky top-0 z-20 bg-white flex justify-between">
            <div class="flex items-center">
                <div class=" rounded-md py-1 px-1.5 mr-3"><img src="assets/icons/menu-2.png" class=" p-2 "
                        width="20px" height="20px"></div>
            </div>
            <div class="flex gap-2">
                <div class="relative items-center flex mr-3">
                    <div
                        class="absolute bottom-3 p-3 ring-2  ring-rose-200 left-auto right-0 top-auto z-10 inline-block translate-x-2/4 translate-y-1/2 rotate-0  rounded-full bg-rose-400  text-xs">
                    </div>
                    <div class="flex items-center justify-center rounded-lg ">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bell"
                            class="mx-auto w-6 h-6 text-purple-400 " role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 448 512">
                            <path fill="none" stroke="black" stroke-width="20"
                                d="M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z">
                            </path>
                        </svg>
                    </div>
                </div>
                <div class="rounded-full">
                    <img src="assets/icons/prof.jpg" class="rounded-full  ring-2 ring-violet-300" width="30px" height="30px"
                        alt="">
                </div>
            </div>
        
        </div>
        
        <div class="w-full flex  bg-zinc-50">
            <div class="w-full  bg-zinc-50">
                <div class=" rounded-lg  ">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

