<div>
    <div class="hdr font-bold w-100 text-sm px-3 py-3 border-b-2 border-zinc-100 flex justify-between items-center">
        <div>Submit for Review</div>
        <div class="text-lg font-medium opacity-70"><img src="assets/icons/clear.svg" width="17px" height="17px" alt="" srcset=""></div>
    </div>
    <div class="details">
        <div class="flex items-center gap-0.5 py-4 px-5">
            <img class="w-7 h-7 me-2 rounded-full" src="assets/icons/user2.svg" alt="Jese image">
            <div class="flex items-center w-full ">
                <div
                    class="text-sm font-semibold    relative  overflow-hidden max-w-full  whitespace-nowrap overflow-ellipsis">
                    John Doe
                   
                </div>
                <svg class="w-2 h-2 ms-1  ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 4 4 4-4" />
            </svg>

            </div>

        </div>
        <div class="flex gap-1 px-2   w-full justify-end items-center py-3">
            <div [ngClass]="true ? ' text-pink-700 cursor-pointer' : ' text-gray-500 cursor-default'"  class="rounded-2xl  text-sm font-bold px-4 py-1 opacity-70">
                Submit for Review</div>
            <div [ngClass]="false ? ' text-pink-700  cursor-pointer' : ' text-gray-500'" class="rounded-2xl  text-sm  font-bold  px-4 py-1 " >Cancel</div>
        </div>
    </div>
</div>